img {
    border-radius: 10px;
}

.container {
    width: 100%;
    overflow: hidden;
    
}

p, li {
    font-size: 16px;
    font-family: "Raleway";
    color: #166369;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    color: #166369;
}

button {
    display: block;
    margin: 0 auto;
    height: 45px;
    width: 250px;
    font-size: 16px;
    border-radius: 4px;
    font-family: "Raleway";
    color: #F0F2ED;
    padding: 0;
    border: none;
}

.row {
    width: 90%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.nav, .features, .footer {
    background-color: #F0F2ED;
}

.testimonials {
    background-color: #7E9C60;
}

/***NAV***/
.logo, .number, .menu {
    float: left;
}

.number {
    padding-top: 50px;}

.menu li {
    display: inline-block;
    text-align: right;
    padding-left: 116px;
    padding-top: 50px;
}

/***HERO***/
.left, .right {
    width: 50%;
    float: left;
}

.left h1, .left p {
    text-align: center;
}

.left h1{
    padding-top: 150px;
    font-size: 36px;
}

.left button {
    background-color: #7E9C60;
}

.right img{
    max-width: 100%;
    max-height: inherit;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 180px;
}


/***FEATURES***/
.feature {
    width: 33.333%;
    float: left;
    display: block;
    margin: 0 auto;
}

.one img, .two img, .three img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.one h3, .two h3, .three h3, .one p, .two p, .three p {
    text-align: center;
}

.one h3, .two h3, .three h3 {
    padding-top: 50px;
    font-size: 24px;
}

.one p, .two p, .three p {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 90px;
}


/***TESTIMONIALS***/
.testimonials h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    color: #F0F2ED;
    font-size: 28px;
}

.testimonial-image, .testimonial {
    float: left;
    display: block;
    margin: 0 auto;
}

.testimonial-image {
    width: 30%;
}

.testimonial-image img {
    width: 180px;
    margin-left: 50%;
    border-radius: 180px;
}

.testimonial {
    width: 60%;
}

.testimonial p {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 80px;
    color: #F0F2ED;
    font-size: 18px;
    line-height: 23px
    
}

.testimonials button {
    background-color: #F0F2ED;
    color: #166369;
    margin-bottom: 90px;
    margin-top: 70px;
}


/***FOOTER***/
.footer {
    height: 100px;
}
.first, .second, .third {
    float: left;
    width: 33.333%
}

.footer p {
    font-size: 14px;
}

.second p {
    text-align: center;
}

.third p {
    text-align: right;
}

.first p, .second p, .third p{
    padding-top: 30px;
    padding-bottom: 20px;
}

/***ABOUT***/
.divider {
    background-color: #7E9C60;
    height: 10px;
}

.about-hero {
    background-image: url("../images/looking_up.png"); 
    background-size: cover;
    height: auto;
    overflow: auto;
}

.about-hero img{
    border-radius: 0;
    width: 150%;
}

.social-links a {
    font-size: 48px;
    color: #F0F2ED;
}

.social-links li {
    display: inline-block;
    margin-right: 15px;
}

.social-links {
    margin-left: 60px;
    line-height: 0px;
}

.about-hero p, .about-hero h1 {
    text-align: left;
    color: #F0F2ED;
    margin-left: 100px;
}

.about-hero h1 {
    padding-top: 80px;
    font-size: 58px;
    line-height: 0px;
}

.about-hero p {
    font-size: 28px;
    line-height: 32px;
}

.about-hero left, .about-hero right {
    float: left;
    display: block;
    margin: 0 auto;
}

.about-hero left {
    width: 70%;
}

.about-hero right {
    width: 30%;
}

.about .row {
    width: 80%;
}

.about img {
    display: block;
    margin: 0 auto;
}

.about p {
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 80px;
}

.about h2 {
    margin-top: 60px;
    font-size: 28px;
}
