img {
    border-radius: 10px;
}

.container {
    width: 100%;
    overflow: auto;
}

p, li {
    font-size: 16px;
    font-family: "Raleway";
    color: #166369;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    color: #166369;
}

button {
    display: block;
    margin: 0 auto;
    height: 45px;
<<<<<<< HEAD
    width: 250px;
=======
    width: 350px;
>>>>>>> modal
    font-size: 16px;
    border-radius: 4px;
    font-family: "Raleway";
    color: #F0F2ED;
    padding: 0;
    border: none;
}

.row {
    width: 90%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.nav, .features, .footer, .refund{
    background-color: #F0F2ED;
}

.blogs, .abouts {
    background-color: white;
}

.testimonials {
    background-color: #7E9C60;
}

/***NAV***/
.logo, .number, .menu {
    float: left;
}

.number {
    padding-top: 50px;}

.menu li {
    display: inline-block;
    text-align: right;
    padding-left: 116px;
    padding-top: 50px;
}

/***HERO***/
.left, .right {
    width: 50%;
    float: left;
}

.left h1, .left p {
    text-align: center;
}

.left h1{
    padding-top: 150px;
    font-size: 36px;
}

.left button {
    background-color: #7E9C60;
}

.right img{
    max-width: 100%;
    max-height: inherit;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 300px;
}


/***FEATURES***/
.feature {
    width: 33.333%;
    float: left;
    display: block;
    margin: 0 auto;
}

.one img, .two img, .three img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.one h3, .two h3, .three h3, .one p, .two p, .three p {
    text-align: center;
}

.one h3, .two h3, .three h3 {
    padding-top: 50px;
    font-size: 24px;
}

.one p, .two p, .three p {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 90px;
}


/***TESTIMONIALS***/
.testimonials h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    color: #F0F2ED;
    font-size: 28px;
}

.testimonial-image, .testimonial {
    float: left;
    display: block;
    margin: 0 auto;
}

.testimonial-image {
    width: 30%;
}

.testimonial-image img {
    width: 180px;
    margin-left: 50%;
    border-radius: 180px;
}

.testimonial {
    width: 60%;
}

.testimonial p {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 80px;
    color: #F0F2ED;
    font-size: 18px;
    line-height: 23px
    
}

.testimonials button {
    background-color: #F0F2ED;
    color: #166369;
    margin-bottom: 90px;
    margin-top: 70px;
}


/***FOOTER***/
.footer {
    height: 100px;
}
.first, .second, .third {
    float: left;
    width: 33.333%
}

.footer p {
    font-size: 14px;
}

.second p {
    text-align: center;
}

.third p {
    text-align: right;
}

.first p, .second p, .third p{
    padding-top: 30px;
    padding-bottom: 20px;
}

/***ABOUT***/
.divider {
    background-color: #7E9C60;
    height: 10px;
}

.about-hero {
    background-image: url("../images/looking_up.png"); 
    background-size: cover;
    height: auto;
    overflow: auto;
}

.about-hero img{
    border-radius: 0;
    width: 150%;
}

.social-links a {
    font-size: 48px;
    color: #F0F2ED;
}

.social-links li {
    display: inline-block;
    margin-right: 15px;
}

.social-links {
    margin-left: 60px;
    line-height: 0px;
}

.about-hero p, .about-hero h1 {
    text-align: left;
    color: #F0F2ED;
    margin-left: 100px;
}

.about-hero h1 {
    padding-top: 80px;
    font-size: 58px;
    line-height: 0px;
}

.about-hero p {
    font-size: 28px;
    line-height: 32px;
}

.about-hero .left {
    width: 60%;
}

.about-hero .right {
    width: 40%;
}

.about .row {
    width: 80%;
}

.about img {
    display: block;
    margin: 0 auto;
}

.about p {
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 80px;
}

.about h2 {
    margin-top: 60px;
    font-size: 28px;
}

/**BLOG**/

.first-row, .second-row {
    float: left;
}

.first-row {
    width: 40%;
    background-color: #F0F2ED;
    background-size: cover;
}

.blog-archives {
    height: 100px;
}

.blog-archives h2, .wise-moves h3 {
    margin-left: 15%;
    padding-top: 15%;
}

.blog-archives h2 {
    font-size: 28px;
}

.blog-posts h2 {
    font-size: 36px;
    padding-top: 50px;
}

.wise-moves h3 {
    color: #F0F2ED;
}

.wise-moves {
    background-color: #7E9C60;
    height: 200px;
}


.second-row {
    background-color: white;
    width: 60%;
}

.second-row img {
    width: 100%;
}

/***NAV & FOOTER CHANGES**/
.blog-posts {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.about-footer, .blog-footer, .schedules {
    background-color: #7E9C60;
}

.about-footer p, .blog-footer p, .schedules p {
    color: #F0F2ED;
}

/**SCHEDULE**/
.disclaimer{
    width: 100%;
<<<<<<< HEAD
    height: 250px;
}
    

=======
}
    
>>>>>>> modal
.schedule-social-links a {
    font-size: 48px;
    color: #7E9C60;
}

.schedule-social-links li {
    display: inline-block;
    margin-right: 15px;
}

.schedule-social-links {
    text-align: center;
    margin-bottom: 80px;
}

.refund h2, .refund p {
    text-align: center;
}

.refund h2 {
    margin-top: 80px;
}

.private img {
    width: 70%;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 25%;
}

.private h2 {
    margin-top: 80px;
}

.class h2 {
    text-align: center;
}

.class img {
    padding-bottom: 30px;
}

.class h2:first-child {
    margin-top: 50px;
}

h5 {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
    
/***SIGN UP FORM***/
/**CONTACT**/

label {
    color: #166369;
    font-size: 16px;
    font-family: "Raleway";
}

input, textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #363F3C;
}

input[type=text], textarea {
    border: 2px solid #166369;
    border-radius: 4px;
    margin-top: 5px;
    color: #363F3C;
}

input[type=text] {
    height: 30px;
    line-height: 0px;
    
}

.contact-row {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.name-email {
    overflow: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.form-name, .form-email {
    float: left;
    width: 380px;
    display: block;
    margin: 0 auto;
}

.form-email {
    padding-left: 25px;
}

.form-background {
    width: 80%;
    background-color: lightgray;
    display: block;
    margin: 0 auto;
}

.contact-button {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #7E9C60;
    border: none;
    font-size: 20px;
    padding: 12px 28px;
    width: 101%;
    text-align: center;
    margin-top: 10px;
}

input[type=submit] {
    color: #F2F1F0;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 20px;
}

.contact-intro {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 20px;
    color: #166369;
    text-align: center;
}

.thankyou {
    color: #D3643B;
    font-weight: 100;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}

/***CONFIRMATION***/

.confirmation {
    height: 400px;
}

.confirmation p {
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    line-height: 30px;
    font-weight: 800
}
